*.cache

/*.bin

.intermediate
tools_asset_info.bin

code/accesslist.txt
code/.vs
code/Properties
code/obj
code/*.csproj
code/obj
code/Properties/launchSettings.json

*.csproj
*.csproj.user
.vs
.intermediate

*.*_c

maps/editor/*
# maps/*.vmap
maps/_bakeresourcecache
maps/*.vpk
maps/*.los